.home-screen {
  background-image: url('./assets/Register.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button {
  padding: 15px 30px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 8px;
}

.thank-you-screen {
  background-image: url('./assets/Thank-You.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container styling */
.form-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* Iframe styling */
.form-iframe {
  width: 100%;
  height: 90vh;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Button styling */
.return-button {
  padding: 12px 24px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.return-button:hover {
  background-color: #0056b3;
}
