.home-screen {
  background-image: url('./assets/Register.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button {
  padding: 15px 30px;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  cursor: pointer;
  background-color: #F5882F;
  color:#fff;
  border: none;
  border-radius: 8px;
}

.thank-you-screen {
  background-image: url('./assets/Thank-You.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container styling */
.form-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* Iframe styling */
.form-iframe {
  width: 100%;
  height: 85vh;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* New "Start a New Form" button styling */
.new-form-button {
  padding: 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #F5882F; /* Matches the register button color */
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.new-form-button:hover {
  background-color: #e57300; /* Slightly darker shade for hover effect */
}

.new-form-button:active {
  background-color: #c65b00; /* Even darker shade for active state */
}
