.home-screen {
  background-image: url('./assets/Register.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button {
  padding: 15px 30px;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  cursor: pointer;
  background-color: #F5882F;
  color:#fff;
  border: none;
  border-radius: 8px;
}

.thank-you-screen {
  background-image: url('./assets/Thank-You.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container styling */
.form-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* Iframe styling */
.form-iframe {
  width: 100%;
  height: 95vh;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Dialog styling */
.inactivity-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 70%;
}

/* Button styling */
.dialog-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.continue-button {
  background-color: #007bff;
  color: white;
}

.continue-button:hover {
  background-color: #0056b3;
}

.finish-button {
  background-color: #dc3545;
  color: white;
}

.finish-button:hover {
  background-color: #c82333;
}
